{% extends "base.html" %}

{% block content %}

<section class="text-center py-5 bg-dark text-white">
  <div class="container">
    <h1 class="display-3 fw-bold">Build Your Best Body</h1>
    <p class="lead mb-4">
      Premium fitness plans designed to transform your strength, confidence, and lifestyle.
    </p>

    <a href="{% url 'plan_list' %}" class="btn btn-warning btn-lg px-4">
      Start Training Now
    </a>
  </div>
</section>

<section class="container text-center my-5">

<h2 class="fw-bold mb-4">Why FitXFocus?</h2>

  <div class="row">
    <div class="col-md-4">
      <h3>Beginner Friendly</h3>
      <p>Simple plans designed to help you start confidently.</p>
    </div>
    <div class="col-md-4">
      <h3>Premium Content</h3>
      <p>Unlock detailed workout guidance with secure checkout.</p>
    </div>
    <div class="col-md-4">
      <h3>Train Anywhere</h3>
      <p>Plans suitable for gym, home, and flexible routines.</p>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="mb-4 text-center">Choose Your Fitness Plan</h2>
    <p class="text-muted text-center">Find a plan that matches your goal, level, and lifestyle.</p>

    <div class="row">
      {% for plan in plans %}
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow border-0 text-center">

            <div class="card-body text-center">
            <h3 class="fw-bold">{{ plan.title }}</h3>

            <p class="text-muted small">
              {{ plan.short_description }}
            </p>

            <p class="mb-1">
              <strong>Difficulty:</strong> {{ plan.get_difficulty_display }}
            </p>

            <p class="mb-2">
              <strong>Duration:</strong> {{ plan.duration_weeks }} weeks
            </p>

            <p class="fw-bold mb-3">£{{ plan.price }}</p>

            {% if plan.is_premium %}
              <span class="badge bg-warning text-dark mb-3">Premium</span>
            {% else %}
              <span class="badge bg-success mb-3">Free</span>
            {% endif %}

            <br>

            <a href="{% url 'plan_detail' plan.slug %}" class="btn btn-outline-dark mt-3">
              View Details
            </a>
          </div>
        </div>
      </div>
      {% empty %}
        <p class="text-center">No plans added yet.</p>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}